body {
background-color: lavender;
margin: 1;
height: 100%;
width: 100%;
}
h1 { 
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color : #d3bc19;
    font-style: normal;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
h3 {
    text-align: center;
    color : black;
    font-style: normal;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}
h4 {
    text-align: center;
    color : #19d398;
    font-style: normal;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    text-align: left;
    border: 5px teal solid;
    width: 95%;
    height: 40%;
    color : #d3bc19;
    font-style: normal;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
p {
    text-align: left;
    color: #19d398;
    font-style: normal;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
textarea  {
    text-align: justify;
    box-sizing: border-box;
    width: 70%;
    height: 35%;
    border : 5px teal solid;
    color : navy;
    font-style: normal;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    color : #19d398;
    border-radius : 6px;
    background: teal;
    width: 15%;
    height: 10%;
    font-size: 150%;
}
