body {
background-color:#3f4854 ;
margin: 1;
height: 100%;
width: 100%;
}
h1 { 
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color : #d5f098;
    font-style: normal;
    font-size: 50px;
    font-family:'Pacifico', cursive;
}
h3 {
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color : #8c9db4;
    font-style: normal;
    font-size: 25px;
    font-family:'Fredericka the Great', cursive;
}
h4 {
    text-align: center;
    text-shadow: 1px 1px 1px black;
    color : #b3c886;
    font-style: normal;
    font-size: 25px;
    font-family: 'Fredericka the Great', cursive;
}
ul {
    text-align: left;
    border: 5px teal solid;
    width: 95%;
    height: 35%;
    color : #d5f098;
    font-style: normal;
    font-size: 40px;
    font-family: 'Just Another Hand', cursive;
}
p {
    text-align: left;
    text-shadow: 1px 1px 1px black;
    color: #b3c886;
    font-style: normal;
    font-size: 25px;
    font-family: 'Fredericka the Great', cursive;
}
textarea  {
    text-align: justify;
    box-sizing: border-box;
    width: 70%;
    height: 35%;
    border : 5px teal solid;
    color : #8c9db4;
    font-style: normal;
    font-size: 25px;
    font-family: 'Just Another Hand', cursive;
}
button{
    color : #8c9db4;
    border-radius : 6px;
    background: teal;
    width: 15%;
    height: 10%;
    font-size: 150%;
}
